<div class="meets-cal">
	<div class="table-responsive">
		<table class="table table-condensed table-striped" id="calendar">
			<thead>
				<tr>
					<td>Date</td>
					<td>Meet & Leader</td>
					<td>Notes</td>
				</tr>
			</thead>
			<tbody>
				<% meets.each do |m| %>
					<tr>
						<td><%= date_display(m.meet_date, m.number_of_nights) %></td>
						<td>
							<%= m.meet_type %> Meet. <% unless m.places.nil? %><%= m.places %> places.<% end %><br>
							<%= m.location %><% if m.activity.present? %> (<%= m.activity %>)<% end %><br>
							Meet Leader: <% if m.member.present? %><%= m.member.first_name %> <%= m.member.last_name %>
							<% else %>TBC<% end %>
						</td>
						<td><%= m.notes %><br><% if m.bb_url.present? %><a href="<%= m.bb_url %>" target="_blank">Bulletin Board Thread</a><% end %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>