<div class="meets-cal">
	<div class="table-responsive">
		<table class="table table-condensed" id="calendar">
			<thead>
				<tr>
					<td>Date</td>
					<td>Meet & Leader</td>
					<td>Info</td>
				</tr>
			</thead>
			<tbody>
				<% meets.each do |m| %>
					<% meet_leader = find_meet_leader(m) %>
					<tr id="<%= m.meet_type.downcase %>">
						<td><%= date_display(m.meet_date, m.number_of_nights) %></td>
						<td>
							<%= m.meet_type %> Meet. <% unless m.places.nil? %><%= m.places %> places.<% end %><br>
							<%= m.location %><% if m.activity.present? %> (<%= m.activity %>)<% end %><br>
							Meet Leader: 
							<% if meet_leader %>
								<%= meet_leader.first_name %> <%= meet_leader.last_name %>
							<% else %>
								TBC
							<% end %>
						</td>
						<td>
							<% if m.notes %><%= m.notes %><br/><% end %>
							<% if @member%>
								<% if !m.opens_on.nil?%>
                  <% if m.opens_on.future? %>
                    Opens on <%= format_date(m.opens_on) %>
                  <% else %>
                    <%= link_with_arrow(new_attendee_member_path(@member, m), "Sign Up!") %>
                  <% end %>
                <% end %>
							<% else %>
								<%= link_to "Sign Up!", login_path %>
							<% end %>
							<% if m.bb_url.present? %><br/><%= link_with_arrow(m.bb_url, "Bulletin Board Thread") %><% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>