<!-- Modal 1 -->
<div class="modal fade" id="blog1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skiing in Glen Shee, April 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/skiing_in_glenshee' %>
      </div>
      <div class="modal-footer">
      	<p>Cath Sanders</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="blog2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">A Crookrise rainy day come good, June 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/a_crookrise_rainy_day_come_good' %>
      </div>
      <div class="modal-footer">
      	<p>Kat Adam</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="blog3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Meet That Never Was, 25th January 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/the_meet_that_never_was' %>
      </div>
      <div class="modal-footer">
      	<p>Tom Jones</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="blog4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hanging Around In The Peak, 21st October 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/hanging_around_in_the_peak' %>
      </div>
      <div class="modal-footer">
      	<p>Tom Jones</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal fade" id="blog5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">A Tale of 2 Winter Belays, 15th February 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/a_tale_of_2_winter_belays' %>
      </div>
      <div class="modal-footer">
      	<p>Marq</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 6 -->
<div class="modal fade" id="blog6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Winter Skills in the Cairngorms, 17th - 18th January 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/winter_skills_in_the_cairngorms' %>
      </div>
      <div class="modal-footer">
      	<p>Dave McKechnie</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 7 -->
<div class="modal fade" id="blog7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">LMCers in the Pass, 15th - 16th October 2011</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/LMCers_in_the_pass' %>
      </div>
      <div class="modal-footer">
        <p>Cath Sanders</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 8 -->
<div class="modal fade" id="blog8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dave and Holly's Trip to Yosemite, August 2011</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/dave_and_hollys_trip_to_yosemite' %>
      </div>
      <div class="modal-footer">
        <p>Holly</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 9 -->
<div class="modal fade" id="blog9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Paul's trip to Ailefroid, July 2011</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/pauls_trip_to_ailfroide' %>
      </div>
      <div class="modal-footer">
        <p>Paul Lucas</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 10 -->
<div class="modal fade" id="blog10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Greenwoods Go Climbing, Easter 2011</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/the_greenwoods_go_climbing' %>
      </div>
      <div class="modal-footer">
        <p>Clive</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 11 -->
<div class="modal fade" id="blog11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photos in Videos with Music, 2004 - 2011</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/photos_in_videos_with_music' %>
      </div>
      <div class="modal-footer">
        <p>Mike</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 12 -->
<div class="modal fade" id="blog12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wasdale Head Meet, 13th - 14th August 2010</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/wasdale_head_meet' %>
      </div>
      <div class="modal-footer">
        <p>Cath Sanders</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 13 -->
<div class="modal fade" id="blog13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buttermere - Dalegarth Campsite, 3rd - 4th July 2010</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/buttermere_dalegarth_campsite' %>
      </div>
      <div class="modal-footer">
        <p>Dave Clark</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 14 -->
<div class="modal fade" id="blog14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tour of the Lake District, April - May 2010</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/tour_of_the_lake_district' %>
      </div>
      <div class="modal-footer">
        <p>Dave McKechnie</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal 15 -->
<div class="modal fade" id="blog15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">C2C - A Taste of Things to Come? June 2004</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/C2C_a_taste_of_things_to_come' %>
      </div>
      <div class="modal-footer">
        <p>Andy G</p>
      </div>
    </div>
  </div>
</div>