<!-- Modal 1 -->
<div class="modal fade" id="blog1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skiing in Glen Shee, April 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/skiing_in_glenshee' %>
      </div>
      <div class="modal-footer">
      	<p>Cath Sanders</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="blog2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">A Crookrise rainy day come good, June 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/a_crookrise_rainy_day_come_good' %>
      </div>
      <div class="modal-footer">
      	<p>Kat Adam</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 3 -->
<div class="modal fade" id="blog3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Meet That Never Was, 25th January 2013</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/the_meet_that_never_was' %>
      </div>
      <div class="modal-footer">
      	<p>Tom Jones</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 4 -->
<div class="modal fade" id="blog4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hanging Around In The Peak, 21st October 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/hanging_around_in_the_peak' %>
      </div>
      <div class="modal-footer">
      	<p>Tom Jones</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 5 -->
<div class="modal fade" id="blog5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">A Tale of 2 Winter Belays, 15th February 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/a_tale_of_2_winter_belays' %>
      </div>
      <div class="modal-footer">
      	<p>Marq</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 6 -->
<div class="modal fade" id="blog6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Winter Skills in the Cairngorms, 17th-18th January 2012</h4>
      </div>
      <div class="modal-body">
        <%= render 'static_pages/blogs/winter_skills_in_the_cairngorms' %>
      </div>
      <div class="modal-footer">
      	<p>Dave McKechnie</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal 7 -->

<!-- Modal 8 -->

<!-- Modal 9 -->

<!-- Modal 10 -->

<!-- Modal 11 -->

<!-- Modal 12 -->

<!-- Modal 13 -->

<!-- Modal 14 -->

<!-- Modal 15 -->