<div class="top-border"></div>
<div class="row row-top">
	<div class="container">
		<h2>Upcoming Meets</h2>
		<p>We have a <a href="#icalfeed">calendar feed</a> for most calendar apps on Apple and Android.</p>
			<div id="no-scroll"><%= render partial: 'meets_calendar', locals: {meets: @future_meets} %></div>
			<br>
			<br>
			<p><a href="#top">back to top</a></p>
	</div>
</div>
<div class="row row-mid">
	<div class="container">
		<h2>Past Meets</h2>
		<%= render partial: 'meets_calendar', locals: {meets: @past_meets} %>
		<br>
		<br>
		<p><a href="#top">back to top</a></p>
	</div>
</div>

<div class="row row-btm">
	<div class="container">
		<div class="col-md-6 col-xs-12">
			<div class="home-main-description">
				<h2>iCalendar Feed</h2><a name="icalfeed"></a>
				<p><a href="#top">back to top</a></p>
				<p>For those of you who use Google Calendar (or anything else that accepts iCalendar format) you can subscribe to the meets list using the following url: </br><strong><%= ical_feed_url + ".ics"%></strong></p>
				<p>Eg. If you use Google Calendar</p>
				<ul>
					<li>Open your "Calendar"</li>
					<li>Click the "+" next to Add a friend's calendar</li>
					<li>Click "from URL"</li>
					<li>In the "URL of calendar" field paste <strong><%= ical_feed_url + ".ics"%></strong></li>
				</ul>
				<p>Calendar times in the iCal feed are set only as a guide. Refer to the Bulletin Board for accurate start and finish times.</p>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="side-img">
				<%= image_tag("why-join.jpg") %>
			</div>
		</div>
	</div>
</div>