<div class ="center">
	<h2>Welcome to the Leeds Mountaineering Club</h2>

	<div class="row">
		<div class="col-md-10 home border-r">
			<p>The LMC is open to anyone who enjoys the mountains for walking, climbing, running, mountain biking, skiing or whatever other adventurous activities you can think of!</p>
			<p>We meet every fortnight for the weekend somewhere mountainous in the uk (and occasionally abroad). The climbers amongst us meet every week at Leeds Wall (Tuesday) or CityBloc or The Depot (Thursday) on a regular basis over winter or when it's raining.</p>
			<p>We have a new members Tuesday social meeting once a month, which is a great way to meet a few members and find out a bit more about the club before signing up. Details on when and where we'll be are below, though it's best to drop us an email to double check there aren't any last minute changes.</p>
			<p>From mid September to mid April we meet on the first Tuesday of every month at The Midnight Bell (here on google maps) from 9:00pm to have a natter, catch up on the gossip and make plans. ( And a lot of us climb at Leeds Wall beforehand if you fancy.)</p>
			<p>So come along and say hello!</p>
			<p>There are no prerequisites in terms of ability for membership and amongst the members we have a wide range of ability, experience and age. As long as you act responsibly regarding safety you can enjoy your chosen activity at the level you want.</p>
		</div>
		<div class="col-md-2 home">
			<aside>
			<p>Latest bulletin board posts:</p>
		</aside>
		</div>
	</div>
	<div class = "row" >
		<div class="col-md-10">
			<h2>Meets Calendar</h2>
			<span class="key eve">Evening Meet</span><span class="key day">Day Meet</span><span class="key camp">Camping Meet</span><span class="key hut">Hut Meet</span>
		<table class="table table-condensed" id="calendar">
			<thead id="cal-head">
				<tr>
					<th id="table-calendar">Date</th>
					<th id="table-calendar">Activity</th>
					<th id="table-calendar">Location</th>
					<th id="table-calendar">Leader</th>
					<th id="table-calendar">Places</th>
					<th id="table-calendar">Board Link</th>
					<th id="table-calendar">Notes</th>
				</tr>
			</thead>
			<tbody>

				<% @future_meets.each do |m| %>
				<tr class="<%= m.meet_type.downcase %>-meet">
					<td><%= date_display(m.meet_date, m.number_of_nights) %></td>
					<td><%= m.activity %></td>
					<td><%= m.location %></td>
					<td><% if m.member.present? %><%= m.member.first_name %> <%= m.member.last_name %><% end %></td>
					<td><%= m.places %></td>
					<td><% if m.bb_url.present? %><a href="<%= m.bb_url %>" target="_blank">click here</a><% end %></td>
					<td><%= m.notes %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>
