<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("lmc-img-1.jpg") %>
    </div>
  </div>
</div>
<div class="row row-top row-btm">
	<div class="container">
		<h2 style="margin-left: 15px">Links</h2>
		<div class="col-md-6 col-xs-12">
			<h3>Organisations</h3>
			<ul>
				<li><%= link_to "The British Mountaineering Council (BMC)", 'https://www.thebmc.co.uk/', target: "_blank" %></li>
				<li><%= link_to "Mountain Bothies Association", 'https://www.mountainbothies.org.uk/', target: "_blank" %></li>
				<li><%= link_to "Mountaineering Scotland", 'https://www.mountaineering.scot/', target: "_blank" %></li>
			</ul>
			<h3>Weather & Conditions</h3>
			<ul>
				<li><%= link_to "Mountain Weather Information Service (MWIS)", 'http://www.mwis.org.uk/', target: "_blank" %></li>
				<li><%= link_to "The Met Office", 'https://www.metoffice.gov.uk/', target: "_blank" %></li>
				<li><%= link_to "Scottish Avalanche Information Service (SAIS)", 'https://www.sais.gov.uk/', target: "_blank" %></li>
				<li><%= link_to "BMC Winter Conditions - Lake District", 'https://www.thebmc.co.uk/lake-district-winter-conditions', target: "_blank" %></li>
				<li><%= link_to "BMC Winter Conditions - North Wales", 'https://www.thebmc.co.uk/idwal', target: "_blank" %></li>
			</ul>
			<h3>Gear Shops</h3>
			<ul>
				<li><%= link_to "Cotswold Outdoor", 'https://www.cotswoldoutdoor.com/', target: "_blank" %></li>
				<li><%= link_to "Facewest", 'http://www.facewest.co.uk', target: "_blank" %></li>
				<li><%= link_to "Outside", 'http://www.outside.co.uk/', target: "_blank" %></li>
				<li><%= link_to "Backcountry UK", 'https://www.backcountryuk.com/', target: "_blank" %></li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3>Climbing/Bouldering Walls</h3>
			<ul>
				<li><%= link_to "The Leeds Wall", 'http://www.theleedswall.co.uk/cms/index.php/', target: "_blank" %></li>
				<li><%= link_to "The Depot", 'https://www.theclimbingdepot.co.uk/', target: "_blank" %></li>
				<li><%= link_to "City Bloc", 'https://www.citybloc.co.uk/', target: "_blank" %></li>
				<li><%= link_to "The Climbing Lab", 'https://www.climbinglab.co.uk/', target: "_blank" %></li>
				<li><%= link_to "Harrogate Climbing Centre", 'http://www.harrogateclimbingcentre.com/', target: "_blank" %></li>
			</ul>
			<h3>Useful Sites</h3>
			<ul>
				<li><%= link_to "ukclimbing.com", 'https://www.ukclimbing.com/', target: "_blank" %></li>
				<li><%= link_to "unknownstones.com", 'https://unknownstones.com/', target: "_blank" %></li>
				<li><%= link_to "Regional Access Database (BMC)", 'https://www.thebmc.co.uk/modules/RAD/', target: "_blank" %></li>
				<li><%= link_to "Climbers' Club (CC)", 'https://www.climbers-club.co.uk/', target: "_blank" %></li>
				<li><%= link_to "Fell and Rock Climbing Club (FRCC)", 'https://www.frcc.co.uk/', target: "_blank" %></li>
			</ul>
			<h3>Public Transport</h3>
			<ul>
				<li><%= link_to "National Rail Enquiries", 'http://www.nationalrail.co.uk/', target: "_blank" %></li>
				<li><%= link_to "Traveline", 'http://www.traveline.info/', target: "_blank" %></li>
			</ul>
		</div>
	</div>
</div>