<div class ="center jumbotron">
	<h2>Welcome to the Members Section</h2>
	<% if logged_in? %>
		<p>Hi <%= @current_user.first_name %>, you're logged in. Don't forget to log out when you're done.</p>
		<%= link_to "Edit My Details", '#', class: "btn btn-lg btn-primary" %>
 	<% else %>	
	<p>To join the club fill out the application form by clicking the link below.</p>
	<div class="row">
		<div class="col-md-4">
			<%= link_to "Application Form", application_path, class: "btn btn-lg btn-primary" %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
	  	<% flash.each do |message_type, message| %>
    		<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
   		<% end %>
	 	</div>
	</div>   		
	<p>If you're already a member then you can log in below.</p>
	<div class = "row">
		<div class="col-md-4">
			<%= form_for(:session, url: login_path) do |f| %>
				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				<%= f.submit "Log in", class: 'btn btn-lg btn-primary', style: 'width:inherit' %>
			<% end %>
		</div>	
	</div>
	<% end %>
</div>
	
