<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("banners/membership.jpg") %>
    </div>
  </div>
</div>

<div class="row row-top row-btm">
	<div class="container">
		<div class="col-md-6">
			<div class="membership main-box left">
				<h2>Join the Club or Log In</h2>
				<% if logged_in? %>
					<% controller.redirect_to member_path(@current_user) %>
				<% else %>	
					<p>To join the club fill out the application form by clicking the link below.</p>
					<%= link_to "Application Form", application_path, class: "btn btn-lg user-btn" %> 
					<p><br>If you're already a member then you can log in below.</p>
					<% flash.each do |message_type, message| %>
	          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
	        <% end %>
					<%= form_for(:session, url: login_path) do |f| %>
						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control login-page' %>
						<%= f.label :password %>
						<%= link_to "(forgotten password)", new_password_reset_path %>
						<%= f.password_field :password, class: 'form-control login-page' %>
						<%= f.submit "Log in", class: 'btn btn-lg user-btn', style: 'width:inherit' %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="main-box right">
				<h2>Looking for more information?</h2>
				<h4>Who can join?</h4>
				<p>Anyone interested in getting outdoors to go walking, climbing and mountaineering with other like minded people. We don't set limitations on experience to become a member, however we do expect you to be able to enjoy your chosen activity safely. For more information go to <%= link_to "Why Join?", benefits_path %></p>
				<h4>How do I find you?</h4>
				<p>For information on when and where we meet check out the <%= link_to "Meets", meets_path %> page.</p>
				<h4>How much does it cost?</h4>
				<p>Membership is currently £19 per year. For more details on membership fees see <%= link_to "Membership Fees", pay_path %>.</p>
				<h4>I'm still not sure...</h4>
				<p>If you have any questions which aren't answered on the site or just want to check that we're real and friendly people (we are) you can drop us an email. Our details are on the <%= link_to "Contact Us", contact_path %> page.</p>
			</div>
		</div>
	</div>
</div>