<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("banners/committee.jpg") %>
	    </div>
	  </div>
	</div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">The Committee</h2>
			<div class="col-md-6 col-xs-12">
				<h3>Chair</h3>
				<h4>Sara Hayes</h4>
				<p><div class="committee-img"><%= image_tag("committee/chair.jpg") %></div>I`m Sara, and currently the first woman Chair (or so I believe!), and have a general overview of the club.</p>
				<p>I organise and chair committee meetings, the A.G.M and any other extraordinary meetings. I liaise with the BMC, on things which may have an impact on the LMC and also take a lead on training and safety for our members.</p>
				<p>I`ve been a club member for about 5 years and think it`s one of the most friendly clubs I`ve ever been in!</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Treasurer</h3>
				<h4>John Nightingale</h4>
				<p><div class="committee-img"><%= image_tag("committee/treasurer.jpg") %></div>Hi I'm John and I am the Treasurer.  I collect subscriptions, and send most of the money to the British Mountaineering Council to pay for insurance.  I also bank the cheques that you pay for hut trips, and then pay the hut owners.  I try to keep up to date accounts, so that you won't sack me at the next AGM.  I walk a lot, and climb a little and very badly.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Meets Secretary</h3>
				<h4>Karl Harrison</h4>
				<p><div class="committee-img">Image Here.</div>My interests are mountaineering, traditional climbing, sport climbing and banter.</p>
				<p>My official role is to prepare a fun-filled calendar with hut and camping meets throughout the UK and I am also responsible for ensuring meet leaders have all the necessary information and keys etc.</p>
				<p>My unofficial role is to ignore members feedback on hut meets ensure everyone has a terrible time and never wants to go on another meet, thereby reducing the number of members and making my role far easier in the long-term.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Membership Secretary</h3>
				<h4>Luke Jones</h4>
				<p><div class="committee-img"><%= image_tag("committee/membership.jpg") %></div>As membership secretary I handle enquiries from new members and try to encourage them to get involved with the club. I also maintain the membership database and try to keep track of what's going on.</p>
				<p>I try to go on plenty of club meets and when I'm out and about I like to go mountaineering, climbing, walking and ski touring, as well as the pub.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid2">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Communications</h3>
				<h4>Lindsay McMorran</h4>
				<p><div class="committee-img"><%= image_tag("committee/communications.jpg") %></div>I'm Lindsay and my role as Communications secretary is to advertise the club to potential new members and to ensure that existing members know about upcoming events and any other important information. This really plays to my strengths of talking a lot, wasting time on social media and sending "witty" emails.</p>
				<p>When I'm not spamming people (who have voluntarily opted in to receive our newsfeed email, obviously), I enjoy climbing, walking, acroyoga, aerial hoop, questioning my life choices while balanced precariously on a rock/person/hoop, cake and other baked goods and craic, which is similar to Karl's banter except that it's occasionally funny.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Social Secretary</h3>
				<h4>Mark Beecher</h4>
				<p><div class="committee-img">Image Here.</div>I'm Mark, the social secretary this year. I've previously been the Chairman of the club. I've been climbing for over 20 years in the UK as well as further afield. My main responsibility is organising the biggest meet of the year, the annual dinner. As well as the summer bash, evening lectures and generally keeping the social side of the club ticking over.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Climbing Coordinator</h3>
				<h4>Will Smith</h4>
				<p><div class="committee-img"><%= image_tag("committee/climbing.jpg") %></div>I’m Will, My role is to plan the summer evening climbing meets. These tend to rotate around the grit crags local to Leeds, with a few day meets further afield to spice it up a bit. I spend a lot of time looking at weather forecast websites and trying to be optimistic. I also arrange the socials which mark the start and end of the summer climbing season.</p>

				<p>As the climbing coordinator I’m also responsible for ensuring everyone’s climbing outfits match nicely.  No clashing colours or double denim at the crag please.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Walking Coordinator</h3>
				<h4>Burgette Matthews</h4>
				<p><div class="committee-img"><%= image_tag("committee/walking.jpg") %></div>I’m Burgette and I’m walking coordinator and usual walking meet leader. I have years and years of experience going walking in the Dales  and Peak District, starting in my childhood with my grandparents, throwing tantrums at how long the walks were. Now I deal with the tantrums of how long my walks are! Just kidding!  I now love trekking all over the world.</p>
				<p>I have a talent for picking good weather days a year in advance, picking hidden gems and lesser known walking territory and if I remember the map we generally stay well on course. If you are keen to start Mountaineering walking is a great way to get into it.</p>
			</div>
		</div>
	</div>
	<div class="row row-btm">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Peter Ainsworth</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-1.jpg") %></div>I am Peter, and I am what they call around here an ordinary member. An ordinary member is supposed to represent the rank and file membership in all committee decisions and discussions. An ordinary member will also pick up tasks and projects that other committee members have not got time for. I have held the role for 5 months now, and I have managed to avoid such tasks, but that may change soon! Until then I will continue chatting with as many members as I can, so that I can ensure we have a wide spectrum of views reflected in our exciting committee meetings.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Lisa Billington</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-2.jpg") %></div>I'm Lisa and my official role is Ordinary Member. Along with Peter I help with odd tasks the committee needs assistance with. The website and our social media presence are the main things I've been helping with this year. I'm relatively new to this mountaineering lark but I have found a passion for sport climbing abroad (in the sun), long mountain walks (in the sun), camping (in the sun) and wine (sun not necessary). </p>
			</div>
		</div>
	</div>
</div>
