<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("banners/committee.jpg") %>
	    </div>
	  </div>
	</div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">The Committee</h2>
			<div class="col-md-6 col-xs-12">
				<h3>Chair</h3>
				<h4>Lindsay McMorran</h4>
				<p><div class="committee-img"><%= image_tag("committee/chair.jpg") %></div>As chair, it's my job to ensure the smooth running of the club by organising regular committee meetings and the AGM. I also liaise with the BMC and make sure each committee member is supported in their role. Basically, I talk too much and send a lot of emails. I believe I am  the second female Chair we've had as a club and since people only ever remember the "first" of anything, I'll have to make sure to do something suitably controversial to ensure my place in the LMC history books. Watch this space...</p>
				<p>When I'm not plotting to disgrace myself, climbing is my favourite way to spend my free time, but questioning my life choices probably comes a close second. I also spend my time running, walking, mountain biking (poorly), doing yoga, eating cake and going to the pub.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Treasurer</h3>
				<h4>Andy May</h4>
				<p><div class="committee-img"><%= image_tag("committee/treasurer.jpg") %></div>As Treasurer, I look after the books. Whether that is collecting subscriptions and sending the BMC their cut, to paying for hut accommodation and strong-arming fees from attendees. Culminating with a set of balanced books to present at the AGM.</p>
				<p>I have been a member of the LMC for over ten years. Enjoying the opportunity to climb, mountaineer and walk in the great outdoors. As a side-line, I do a little cabinet making, although my wife complains that more stuff goes in the workshop than leaves it.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Meets Secretary</h3>
				<h4>Helen Burns</h4>
				<p><div class="committee-img"><%= image_tag("committee/meets.jpg") %></div>I'm Helen, the Meets Secretary, my role is to organise the weekend meets ensuring the LMC is full of mini UK adventures all year round; generally camping in the summer and huts in the winter. I am also responsible for the organizational side of things such as ensuring meet leaders have all the necessary information and keys etc. I like all flavours of climbing and encourage meet location suggestions, share the love: take us to your favourite crag!</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Membership Secretary</h3>
				<h4>Sarah Sharps</h4>
				<p><div class="committee-img"><%= image_tag("committee/membership.jpg") %></div>As the membership secretary my role is to ensure our membership database is up to par, welcome and pester new members to participate in things and chase potential new members around until they join.</p>
				<p>I enjoy climbing mostly, indoor and outdoor. I have a love hate relationship with gritstone but climb on it anyway because apparently it’s the done thing around here; I guess I do enjoy a good hand jam or two... at least when my tiny hands fit. I love a bit of mountain biking, and I am an occasional walker, rarely straying into mountaineer territory. Generally happiest wandering in the Lake District in the summer with my family, a bag full of snacks and a mega flask of tea. I also enjoy photography, film making, and desktop publishing.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid2">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Communications</h3>
				<h4>Joey Talbot</h4>
				<p><div class="committee-img"><%= image_tag("committee/communications.jpg") %></div>As Communications Secretary, it’s my job to torment you with horrendous newsfeed emails, despicable tweets and interminable instagrams. And that’s not all. I’m always on the lookout for fresh-faced new folk to annoy. As I see it, the world can be split into those heroic mountaineers who have already become inured to my ramblings, and those who haven’t yet had the pleasure of joining Leeds Mountaineering Club (p.s. for those who opt in to them, the emails do actually contain lots of useful information about club events and the like).</p>
				<p>In my more productive moments, I like to climb boulders in the biting wind and snow, hike up the unpopular side of mountains, and write silly tales about people who do the same.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Social Secretary</h3>
				<h4>Hayley Smith</h4>
				<p><div class="committee-img"><%= image_tag("committee/social.jpg") %></div>
					After joining the club in 2018 I've been on many extraordinary climbing trips away in Wales, the Lake District and the Peak District as well as some magical walks around the Yorkshire Dales. It was about time I gave something back to the club so here I am as Social Sec for 2020. My main duties are organising the (best ever!) annual dinner, the summer bash and other social events (send me your requests!) like the monthly Tuesday social.</p>
				<p>
					I'll do anthing that gets me outside but mostly climbing and walking with some yoga thrown in for good measure. 
				</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Climbing Coordinator</h3>
				<h4>Martin Wells</h4>
				<p><div class="committee-img"><%= image_tag("committee/climbing.jpg") %></div>
					Hi, as climbing coordinator I schedule the summer Tuesday evening outdoor climbs at Yorkshire’s fine gritstone crags, consult the outdoor climbers on suitable establishments for the post-climbing socials and organise occasional day meet in the sunny peak district.
				</p> 
				<p> 
					If you want to join the club, please register on the web site, send us a quick email and either come down to The Big Depot climbing wall on a Tuesday evening or join us outdoors (see the meets calendar) we’ll try and pair you up with climbers of a similar ability.
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Walking Coordinator</h3>
				<h4>John Armitage</h4>
				<p><div class="committee-img"><%= image_tag("committee/walking.jpg") %></div>John is very friendly and is great fun to be out in the hills with. If you want to know more about John the best way is to join him on one of the walks!</p>
				<p></p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>David Ponting</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-1.jpg") %></div>As an ordinary member and first-timer on the committee, I'm looking forward to finding out exactly what I've let myself in for... In mountaineering terms, I was fortunate enough to be introduced to the mountains in my teens, and have spent my time since then walking, scrambling, climbing and skiing whenever I've had the chance! After spending years in the flat fenlands of Cambridge, moving up to Leeds three years ago - with beautiful countryside on our doorstep - has been an excellent choice and I have thoroughly enjoyed exploring said countryside and beyond with the club. Away from the mountains, I'm a research scientist by day and a keen photographer, cook and gardener.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Kate Woodrow</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-2.jpg") %></div>Hi, my name's Kate and I am an "Ordinary member". It's a bit of a strange title but my role on the Committee is to represent the views of the wider LMC membership. My interests include hill walking, wild camping, backpacking and I have been known to haul myself up an easy route at the wall.</p>
				<p>My top tip is get outdoors and do what you enjoy to the best of your ability, have fun and stay safe.</p>
			</div>
		</div>
	</div>
</div>
