<div id="carousel-container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag("banners/committee.jpg") %>
	    </div>
	  </div>
	</div>
</div>

<div id="main" class="home">
	<div class="row row-top">
		<div class="container">
			<h2 style="margin-left: 15px">The Committee</h2>
			<div class="col-md-6 col-xs-12">
				<h3>Chair</h3>
				<h4>Sara Hayes</h4>
				<p><div class="committee-img"><%= image_tag("committee/chair.jpg") %></div>I'm Sara, and currently the first women Chair (or so I believe!), and have a general overview of the club.</p>
				<p>I organise and chair committee meetings, the A.G.M and any other extraordinary meetings. I liaise with the BMC, on things which may have an impact on the LMC and also take a lead on training and safety for our members.</p>
				<p>I've been a club member for about 6 years and think it’s the most sociable and approachable not to mention, fabulous mountaineering club I know!</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Treasurer</h3>
				<h4>John Nightingale</h4>
				<p><div class="committee-img"><%= image_tag("committee/treasurer.jpg") %></div>Hi I'm John and I am the Treasurer.  I collect subscriptions, and send most of the money to the British Mountaineering Council to pay for insurance.  I also bank the cheques that you pay for hut trips, and then pay the hut owners.  I try to keep up to date accounts, so that you won't sack me at the next AGM.  I walk a lot, and climb a little and very badly.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Meets Secretary</h3>
				<h4>Karl Harrison</h4>
				<p><div class="committee-img"><%= image_tag("committee/meets.jpg") %></div>My interests are mountaineering, traditional climbing, sport climbing and banter.</p>
				<p>My official role is to prepare a fun-filled calendar with hut and camping meets throughout the UK and I am also responsible for ensuring meet leaders have all the necessary information and keys etc.</p>
				<p>My unofficial role is to ignore members feedback on hut meets ensure everyone has a terrible time and never wants to go on another meet, thereby reducing the number of members and making my role far easier in the long-term.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Membership Secretary</h3>
				<h4>Andy May</h4>
				<p><div class="committee-img"><%= image_tag("committee/membership.jpg") %></div>As the Membership Secretary, I am usually the first ‘official’ point of contact (at least in an administrative sense).  I keep the membership database in mint condition and try to encourage new members to join and be active in the club.</p>
				<p>I have been a member for around ten years. Enjoying the opportunity to climb, mountaineer and generally have fun in the great outdoors, with like-minded souls. I also have a side-line in gate building, but no real interest in horticulture.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid2">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Communications</h3>
				<h4>Lindsay McMorran</h4>
				<p><div class="committee-img"><%= image_tag("committee/communications.jpg") %></div>I'm Lindsay and my role as Communications secretary is to advertise the club to potential new members and to ensure that existing members know about upcoming events and any other important information. This really plays to my strengths of talking a lot, wasting time on social media and sending "witty" emails.</p>
				<p>When I'm not spamming people (who have voluntarily opted in to receive our newsfeed email, obviously), I enjoy climbing, walking, acroyoga, aerial hoop, questioning my life choices while balanced precariously on a rock/person/hoop, cake and other baked goods and craic, which is similar to Karl's banter except that it's occasionally funny.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Social Secretary</h3>
				<h4>Helen Costelloe</h4>
				<p><div class="committee-img"><%= image_tag("committee/social.jpg") %></div>After a bit of arm twisting from Sara I found myself volunteering for the role of Social Secretary.  My main duties are organising the Annual dinner, the summer bash and other social events including slide nights and first Tuesday socials.</p>
				<p>I have enjoyed climbing, mountain biking & walking for over 20 years and joined LMC in 2010.</p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Climbing Coordinator</h3>
				<h4>Will Smith</h4>
				<p><div class="committee-img"><%= image_tag("committee/climbing.jpg") %></div>I’m Will, My role is to plan the summer evening climbing meets. These tend to rotate around the grit crags local to Leeds, with a few day meets further afield to spice it up a bit. I spend a lot of time looking at weather forecast websites and trying to be optimistic. I also arrange the socials which mark the start and end of the summer climbing season.</p>

				<p>As the climbing coordinator I’m also responsible for ensuring everyone’s climbing outfits match nicely.  No clashing colours or double denim at the crag please.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Walking Coordinator</h3>
				<h4>John Armitage</h4>
				<p><div class="committee-img"><%= image_tag("committee/walking.jpg") %></div>John hasn't written his 'blurb' or sent a profile picture yet. Don't hold your breath. He's great at doing the walks though.</p>
				<p></p>
			</div>
		</div>
	</div>
	<div class="row row-mid">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>David Ponting</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-1.jpg") %></div>As an ordinary member and first-timer on the committee, I'm looking forward to finding out exactly what I've let myself in for... In mountaineering terms, I was fortunate enough to be introduced to the mountains in my teens, and have spent my time since then walking, scrambling, climbing and skiing whenever I've had the chance! After spending years in the flat fenlands of Cambridge, moving up to Leeds three years ago - with beautiful countryside on our doorstep - has been an excellent choice and I have thoroughly enjoyed exploring said countryside and beyond with the club. Away from the mountains, I'm a research scientist by day and a keen photographer, cook and gardener.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Lisa Billington</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-2.jpg") %></div>I'm Lisa and my official role is Ordinary Member. Along with Peter I help with odd tasks the committee needs assistance with. The website and our social media presence are the main things I've been helping with this year. I'm relatively new to this mountaineering lark but I have found a passion for sport climbing abroad (in the sun), long mountain walks (in the sun), camping (in the sun) and wine (sun not necessary). </p>
			</div>
		</div>
	</div>
	<div class="row row-btm">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h3>Ordinary Member</h3>
				<h4>Sarah Sharps</h4>
				<p><div class="committee-img"><%= image_tag("committee/ordinary-3.jpg") %></div>As an ordinary member, my role is to bridge the gap and be a general dogsbody for anything our grand master demands. I am a special one though as I am currently also BMC Area Chair for the Yorkshire Area so will be acting as a direct link to the BMC for any related issues.</p>

				<p>I enjoy climbing mostly, that’s ‘ma thang’ - indoor and outdoor. I dislike gritstone but climb on it anyway because apparently it’s the done thing around here; I guess I do enjoy a good hand jam or two... at least when my tiny hands fit. I am an occasional walker, rarely straying into mountaineer territory, generally found prancing about in the Lake District in the summer with a bag full of snacks and a mega flask of tea. I also enjoy photography, film making, desktop publishing and I occasionally find time to podcast.</p>
			</div>
		</div>
	</div>
</div>
