<%= form_for(@meet, url: yield(:path)) do |f| %>
	<div class="row">
		<div class="col-md-4 col col-md-offset-2">
			<%= f.label :meet_date %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :meet_date) %></p>
			<%= f.date_field :meet_date, class: 'form-control' %>

			<%= fields_for :attendees do | attendee | %>
					<% if !find_meet_leader(@meet) %>
						<%= attendee.label :member_id, 'Meet leader' %>
						<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :member_id) %></p>
						<%= attendee.collection_select :member_id, Member.all.order(:first_name), :id, :full_name, {include_blank: true},  {class: 'form-control'} %>
					<% else %>
						<%= attendee.hidden_field(:member_id) %>
					<% end %>
			<% end %>

			<%= f.label :location %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :location) %></p>
			<%= f.text_field :location, class: 'form-control' %>

			<%= f.label :activity %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :activity) %></p>
			<%= f.text_field :activity, class: 'form-control' %>

			<%= f.label :bb_url, 'Link to bulletin board post' %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :bb_url) %></p>
			<%= f.text_field :bb_url, class: 'form-control' %>			
		</div>
		<div class="col-md-4">
			<%= f.label :opens_on %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :opens_on) %></p>
			<%= f.date_field :opens_on, class: 'form-control' %>

			<%= f.label :meet_type %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :meet_type) %></p>
			<%= f.collection_select :meet_type, Meet::MEET_TYPES, :to_s, :to_s,{}, {class: 'form-control'} %>
			
			<%= f.label :number_of_nights %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :number_of_nights) %></p>
			<%= f.text_field :number_of_nights, :value => (f.object.number_of_nights || 0),class: 'form-control' %>
			
			<% if @meet.meet_type == 'Hut' %>
				<%= f.label :places %>
				<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :places) %></p>
				<%= f.text_field :places, class: 'form-control' %>
			<% end %>

			<%= f.label :notes %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :notes) %></p>
			<%= f.text_field :notes, class: 'form-control' %>
		</div>
		<div class="col-md-6 col-md-offset-3" style="margin-bottom: 20px;">
			<%= f.submit yield(:button_text), class: "btn btn-lg user-btn full-width" %>
		</div>
	</div>
<% end %>

