<% provide(:title, 'Edit Meet') %>
<% provide(:path, committee_meet_path) %>
<% provide(:button_text, 'Update Meet Details') %>
<div class="top-border"></div>
<%if @meet.meet_type == "Hut"%>
	<div class="row row-top">
		<div class="col-md-8 col col-md-offset-2 no-padding">
			<p><%= link_to "Back to meets list", committee_meets_path %></p>
			<h1>Hut Meet: <%=@meet.location%>, <%=date_display(@meet.meet_date)%></h1>
			<h2>Attendees</h2>
			<table class="table table-hover table-narrow">
				<thead>
					<th>Place</th>
					<th>Name</th>
					<th>Signed Up On</th>
					<th>Paid?</th>
					<th>Make Meet Leader</th>
					<th></th>
				</thead>

				<tbody class="table-striped narrow">
					<tr>
						<td>Meet Leader</td>
						<td><%= @meet_leader.full_name %></td>
						<td></td>
						<td>Boolean</td>
						<td>Button</td>
						<td></td>
					<% @meet_members.each_with_index do |member, index| %>
						<%if member != @meet_leader%>
							<tr>
								<td><%= index + 1%>.</td>
								<td><%= member.full_name %></td>
								<td>Date</td>
								<td>Boolean</td>
								<td>Button</td>
								<td><%= link_to "remove from meet", committee_attendee_path(member_id: member.id, meet_id: @meet.id), method: :delete, data: { confirm: "Remove #{member.first_name} #{member.last_name} from this meet?"} %></td>
							</tr>
						<% end %>
					<% end %>
					<tr>
						<td></td>
						<%= form_for(@attendee, url: committee_attendees_path) do |f| %>
							<%= f.hidden_field :meet_id, value: @meet.id %>
							<td><%= f.collection_select :member_id, @remaining_members, :id, :full_name, class: 'form-control' %></td>
							<td>Date select</td>
							<td>Paid - Yes/No</td>
							<td></td>
							<td><%= f.submit "add to meet" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<% end %>

<%if @meet.meet_type != "Hut"%>
	<div class="row row-top">
		<div class="col-md-8 col col-md-offset-2 no-padding">
			<p><%= link_to "Back to meets list", committee_meets_path %></p>
			<h2>Edit Meet: <%=@meet.location%> - <%=date_display(@meet.meet_date)%></h2>
		</div>
		<%= render 'form' %>
	</div>
<% else %>
	<div class="row row-mid">
		<div class="col-md-8 col col-md-offset-2 no-padding">
			<h2>Edit Meet</h2>
		</div>
		<%= render 'form' %>
	</div>
<% end %>