<% provide(:title, 'Edit Meet') %>
<% provide(:path, committee_meet_path) %>
<% provide(:button_text, 'Update Meet Details') %>
<div class="top-border"></div>
	<div class="row row-top">
		<div class="col-md-8 col col-md-offset-2">
			<h1><%=@meet.location%>, <%=date_display(@meet.meet_date)%></h1>
			<p><%= back_link(committee_meets_path) %></p>
			<h2>Attendees</h2>
			<% flash.each do |message_type, message| %>
		 		<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
			<% end %>
			<%# tables cannot have forms inside them %>
			<%= form_for(@new_attendee, url: committee_attendees_path) do |f| %>
				<table class="table table-hover table-narrow">
					<thead>
						<th></th>
						<th>Name</th>
						<th>Signed Up On</th>
              <% if @meet.meet_type == "Hut" %>
						    <th>Paid?</th>
              <% end %>
						<th>Make Meet Leader</th>
						<th></th>
					</thead>
					<tbody class="table-striped narrow">
						<tr>
							<td>Meet Leader</td>
							<td><%= @meet_leader.full_name if @meet_leader %></td>
							<td><%= format_date(@meet_leader_attendee.sign_up_date) if @meet_leader %></td>
							<% if @meet.meet_type == "Hut" %>
                <td>
									<% paid = @meet_leader ? @meet_leader_attendee.paid ? "✅" : "❌" : ""%>
									<%= (link_to "#{paid}", committee_attendee_path(update_paid: true, attendee: {attendee_id: @meet_leader_attendee.id}), method: :patch, :class => "emoji-link") if @meet_leader %>
								</td>
              <% end %>
							<td></td>
							<td><%= link_to "remove from meet", committee_attendee_path(attendee: {attendee_id: @meet_leader_attendee.id}), method: :delete, data: { confirm: "Remove #{@meet_leader_attendee.member.first_name} #{@meet_leader_attendee.member.last_name} (meet leader) from this meet?"} if @meet_leader%></td>
						    
              <% @meet_attendees.each_with_index do |attendee, index| %>
								<% member_paid = attendee.paid ? "✅" : "❌" %>
                <% attendee_is_reserve = !@meet.places.nil? && index + 2 > @meet.places %>
                <% if !attendee_is_reserve %>
								  <tr>
									  <td><%= index + 2 %>.</td>
			    					<td><%= attendee.member.full_name %></td>
									  <td><%= format_date(attendee.sign_up_date) if attendee.sign_up_date %></td>
                      <% if @meet.meet_type == "Hut" %>
									      <td>
											    <%= link_to "#{member_paid}", committee_attendee_path(update_paid: true, attendee: {attendee_id: attendee.id}), method: :patch, :class => "emoji-link"%>
									      </td>
                      <% end %>
                    <td><%= link_to "make meet leader", committee_attendee_path(update_meet_leader: true, attendee: {attendee_id: attendee.id, meet_leader_attendee: @meet_leader_attendee}), method: :patch, data: { confirm: "Make #{attendee.member.first_name} #{attendee.member.last_name} meet leader?"} %></td>
									  <td><%= link_to "remove from meet", committee_attendee_path(attendee: {attendee_id: attendee.id}), method: :delete, data: { confirm: "Remove #{attendee.member.first_name} #{attendee.member.last_name} from this meet?"} %></td>
								  </tr>
                <% elsif !@meet.places.nil? && index + 1 == @meet.places%>
                  <tr class="reserves-top"><td>Reserves</td><td></td><td></td><% if @meet.meet_type == "Hut" %><td></td><% end %><td></td><td></td></tr>
                  <tr class="reserves">
                    <td><%= index - @meet.places + 2 %>.</td>
                    <td><%= attendee.member.full_name %></td>
                    <td><%= format_date(attendee.sign_up_date) if attendee.sign_up_date %></td>
                    <% if @meet.meet_type == "Hut" %>
                      <td>
											  <%= link_to "#{member_paid}", committee_attendee_path(update_paid: true, attendee: {attendee_id: attendee.id}), method: :patch, :class => "emoji-link"%>
                      </td>
                    <% end %>
                    <td></td>
                    <td><%= link_to "remove reserve", committee_attendee_path(attendee: {attendee_id: attendee.id}), method: :delete, data: { confirm: "Remove #{attendee.member.first_name} #{attendee.member.last_name} from this meet?"} %></td>
                  </tr>
                <% else %>
                  <tr class="reserves">
                    <td><%= index - @meet.places + 2 %>.</td>
                    <td><%= attendee.member.full_name %></td>
                    <td><%= format_date(attendee.sign_up_date) if attendee.sign_up_date %></td>
                      <% if @meet.meet_type == "Hut" %>
                        <td>
											    <%= link_to "#{member_paid}", committee_attendee_path(update_paid: true, attendee: {attendee_id: attendee.id}), method: :patch, :class => "emoji-link"%>
                        </td>
                      <% end %>
                      <td></td>
                      <td><%= link_to "remove reserve", committee_attendee_path(attendee: {attendee_id: attendee.id}), method: :delete, data: { confirm: "Remove #{attendee.member.first_name} #{attendee.member.last_name} from this meet?"} %></td>
                  </tr>
                <% end %>
						  <% end %>
							<tr>
								<td>
									<%= f.hidden_field :meet_id, value: @meet.id %>
									<%= f.hidden_field :is_meet_leader, value: false %>
								</td>
								<td><%= f.collection_select :member_id, @remaining_members, :id, :full_name, {}, { class: 'form-control small-select-box' } %></td>
								<td><%= f.date_field :sign_up_date, as: :date, class: 'form-control', id: 'small-date-picker' %></td>
								<% if @meet.meet_type == "Hut" %>
                  <td>
                    <%= f.check_box :paid, {class: 'my-checkbox', type: 'checkbox'}, true, false %>
                  </td>
                <% end %>
								<td></td>
								<td><%= f.submit "add to meet", { class: 'btn member-btn full-width' } %></td>
							</tr>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
	
	<div class="row row-mid">
		<div class="col-md-8 col col-md-offset-2">
			<h2>Edit Details</h2>
		</div>
		<%= render 'form' %>
	</div>
