<% provide(:title, 'Membership Database') %>
<h1>Membership Database</h1>
<p><%= link_to "Back to my details", members_path(@member) %></p>
<%= form_tag(edit_multiple_committee_members_path, method: :post) do %>
	<%= submit_tag "Edit Checked", class: "btn btn-primary" %>
	<%= link_to "Export", '#', class: "btn btn-primary" %>
	<table class="table table-hover">
		<thead>
			<th></th>
			<th><%= sort_link "first_name", "First Name", committee_members_path %></th>
			<th><%= sort_link "last_name", "Last Name", committee_members_path %></th>
			<th><%= sort_link "membership_type", "Member Type", committee_members_path %></th>
			<th><%= sort_link "subs_paid", "Subs Paid", committee_members_path %></th>
			<th><%= sort_link "fees_received_on", "Last Payment Date", committee_members_path %></th>
			<th><%= sort_link "welcome_pack_sent", "Welcome Pack Sent?", committee_members_path %></th>
			<th><%= sort_link "updated_at", "Last Updated", committee_members_path %></th>
			<th></th>
			<th></th>
			<th></th>
		</thead>

		<tbody class="table-striped">
			<% @members.each do |m| %>
			<tr>
				<td><%= check_box_tag "selected[]", m.id, checked=m.selected, class: 'check-box' %></td>
				<td><%= m.first_name %></td>
				<td><%= m.last_name %></td>
				<td><%= m.membership.membership_type %></td>
				<td><%= readable_boolean(m.membership.subs_paid).html_safe %></td>
				<td><% if !m.membership.fees_received_on.nil? %><%= m.membership.fees_received_on.strftime("%d/%m/%Y") %><% end %></td>
				<td><%= readable_boolean(m.membership.welcome_pack_sent).html_safe %></td>
				<td><%= latest_update(m) %></td>
				<td><%= link_to "view", committee_member_path(m) %></td>
				<td><%= link_to "edit", edit_committee_member_path(m) %></td>
				<td><%= link_to "delete", committee_member_path(m), method: :delete, data: { confirm: "You are about to delete #{m.first_name} #{m.last_name} from the database."} %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>