<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<th>Subject</th>
			<th>Template</th>
			<th>Sent By</th>
			<th>Last Edited</th>
			<th>Last Sent</th>
			<th></th>
			<th></th>
			<th></th>
		</thead>

		<tbody class="table-striped narrow">
			<% @emails.take(10).each do |e| %>
			<tr>
				<td><%= e.subject %></td>
				<td><%= e.template %></td>
				<td><%= e.member.full_name %></td>
				<td><%= e.updated_at.strftime("%d/%m/%Y") %></td>
				<td><% unless e.sent_on.nil? %><%= e.sent_on.strftime("%d/%m/%Y at %H:%M") %><% end %></td>
				<td><%= link_to "Preview", committee_email_preview_path(e), :target => '_blank' %></td>
				<td><%= link_to "Edit", edit_committee_email_path(e), :"data-turbolinks" => false %></td>
				<td><%= link_to "Info", committee_email_path(e) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
