<% provide(:title, 'Edit Email') %>
<% provide(:path, committee_email_path) %>
<%= tinymce_assets %>
<%= tinymce %>
<div class="top-border"></div>
<div class="row row-top">
	<div class="container">
		<h1>Edit Email</h1>
		<p><%= back_link(committee_emails_path) %></p>
		<% flash.each do |message_type, message| %>
	   	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
		<% end %>
		<h3>Your Email</h3>
		<%= form_for(@email, url: yield(:path)) do |f| %>
			<%= f.label :subject %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@email, :subject) %></p>
			<%= f.text_field :subject, :value => @template.subject, class: 'form-control' %>

			<%= f.label :body %>
			<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@email, :body) %></p>
			<%= f.text_area :body, :value => @template.body, :class => "tinymce", :rows => 20, :cols => 120 %>
			<%= f.submit "Save", class: "btn member-btn btn-lg form-btn" %>
					
			<%= link_to "Preview", committee_email_preview_path(@email), :target => '_blank', class: "btn member-btn btn-lg form-btn" %>
			<% unless no_send %>
				<%= link_to "Send", committee_send_email_path(@email), class: "btn member-btn btn-lg form-btn pull-right" %>
			<% else %>
				<p>This email is sent automatically when an application form is completed. It cannot be sent manually.</p>
			<% end %>
		<% end %>	
	</div>
</div>

