<% provide(:title, 'Edit Meet') %>
<div class="top-border"></div>
<div class="row-top">
	<div class="row">	
		<div class="col-md-8 col col-md-offset-2">
			<h1>Edit Meet</h1>
			<p><%= link_to "Back to my details", members_path(@member) %></p>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-4 col col-md-offset-2">
			<h3>Meet Details</h3>
			<%= form_for(@meet, url: meets_member_path) do |f| %>
				<p>
					<b>Meet Date</b><br>
					<%= @meet.meet_date.strftime("%d/%m/%Y") %><br>
				</p>
				<p>
					<b>Location</b><br>
					<%= @meet.location %><br>
				</p>
				<p>
					<b>Meet Type</b><br>
					<%= @meet.meet_type %><br>
				</p>
				<p>
					<b>Nights</b><br>
					<%= @meet.number_of_nights %><br>
				</p>
				<p>
					<b>Places</b><br>
					<%= @meet.places %><br>
				</p>
				<p>Please speak to the Meets Secretary if there are any errors.</p>
		</div>
		<div class="col-md-4">
			<div class="main-box">
				<h3>Add notes or links</h3>
				<%= f.label :bb_url, 'Link to bulletin board post' %>
				<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :bb_url) %></p>
				<%= f.text_field :bb_url, class: 'form-control' %>

				<%= f.label :notes %>
				<p id='error_explanation' style="margin: -1px 0"><%= show_errors(@meet, :notes) %></p>
				<%= f.text_area :notes, class: 'form-control' %>

				<%= f.hidden_field :id %>
				<%= f.submit 'add notes or link', class: "btn user-btn btn-lg full-width" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

