<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>" />
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<div class="container-fluid bkgrnd">
      <%= render 'layouts/header' %>
  	  <%= yield %>
     	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
