<% provide(:title, "Change Your Details") %>
<% provide(:path, member_path(@member)) %>
<% provide(:button_text, "Update Information") %>
<div class="row row-btm top-border">
	<div class="container">
		<h1>Update Your Information</h1>
		<p><%= link_to "Back to your details (without saving)", members_path(@member) %></p>
		<%= link_to "Add/change your emergency contact", emergency_contact_member_path, class: "btn member-btn" %>
		<% unless @member.receive_emails %>
			<%= link_to "Subscribe to all club emails", email_subscribe_member_path(@member), :method => :patch, class: "btn member-btn" %>
		<% else %>
			<%= link_to "Unsubscribe from all club emails", email_subscribe_member_path(@member), :method => :patch, class: "btn member-btn" %>
		<% end %>
		<%= link_to "Remove my membership", member_path(@member),method: :delete, data: { confirm: "This will permanently remove all your information. You will no longer be a member of the Leeds Mountaineering Club."}, id: "danger-btn", class: "btn member-btn pull-right" %>

		<%= render 'form' %>
	</div>
</div>