<% provide(:title, @member.first_name + " " + @member.last_name) %>
<h1><%= @member.first_name %> <%= @member.last_name %></h1>
<h4><%= membership_level(@member) %></h4>
<% if committee_member?(@member) %>
	<%= link_to "Membership Database", committee_members_path, class: "btn btn-primary" %> 
	<%= link_to "Meets Calendar", '#', class: "btn btn-primary" %>
	<%= link_to "Change Committee Members", '#', class: "btn btn-primary" %>
<% elsif new_member?(@member) %>
	<%= render 'welcome' %>
<% end %>

<div class="row" >
	<div class="lead col-md-4">
		<h3>My Details</h3><%= link_to "Edit My Details", edit_member_path(@member), class: "btn btn-primary" %>
		<p>
			<%= @member.email %><br>
			<%= @member.phone %>
		</p>
		<p>
			<%= @member.address_1 %><br>
			<% if @member.address_2.present? %><%= @member.address_2 %><br><% end %>
			<% if @member.address_3.present? %><%= @member.address_3 %><br><% end %>
			<%= @member.town %><br>
			<%= @member.postcode %><br>
		</p>
	</div>

	<div class="lead col-md-4">
		<h3>Emergency Contact</h3><%= link_to "Add / Edit Emergency Contact", emergency_contact_member_path, class: "btn btn-primary" %>
		<p>
			<%= @member.emergency_contact.relationship %></br>
			<%= @member.emergency_contact.name %><br>
			<%= @member.emergency_contact.primary_phone %></br>
			<% if @member.emergency_contact.secondary_phone %><%= @member.emergency_contact.secondary_phone %><% end %>
		</p>
		<p>
			<%= @member.emergency_contact.address_1 %></br>
			<% if @member.emergency_contact.address_2.present? %><%= @member.emergency_contact.address_2 %><br><% end %>
			<% if @member.emergency_contact.address_3.present? %><%= @member.emergency_contact.address_3 %><br><% end %>
			<%= @member.emergency_contact.town %></br>
			<%= @member.emergency_contact.postcode %></br>
		</p>
	</div>
</div>
