<% provide(:title, @member.first_name + " " + @member.last_name) %>
<div class="top-border"></div>
<div class="row-top">
	<div class="container">
		<h1><%= @member.first_name %> <%= @member.last_name %></h1>
		<h4><%= membership_level(@member) %></h4>
		<% unless @member.receive_emails %>
			<p>You are not currently on the club newsletter mailing list. <%= link_to "Change this", email_subscribe_member_path(@member), :method => :patch %>.</p>
			<% else %>
			<p>You are on the club newsletter mailing list. <%= link_to "Change this", email_subscribe_member_path(@member), :method => :patch %>.</p>
		<% end %>
		<% if @member.bb_name %>
			<p>Your username for the Bulletin Board is: <b><%= @member.bb_name %></b></p>
		<% end %>
		<% flash.each do |message_type, message| %>
	    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
	  <% end %>
		<% if committee_member?(@member) %>
			<div class="buttons-menu">
				<%= link_to "Membership Database", committee_members_path, class: "btn member-btn" %> 
				<%= link_to "Meets Calendar", committee_meets_path, class: "btn member-btn" %>
				<%= link_to "Send Emails", committee_emails_path, class: "btn member-btn" %>
				<%= link_to "Change Committee Members", edit_role_committee_members_path, class: "btn member-btn" %>
			</div>
		<% end %>

		<% if new_member?(@member) %>
			<%= render 'welcome' %>
		<% elsif em_contact?(@member) %>
			<%= render 'no_emergency_contact' %>
		<% end %>
	</div>
</div>
<div class="row row-mid" >
	<div class="container no-padding">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="info-box">
			<h3>My Meets</h3>
			<%= link_to "Sign Up For A Meet", attendees_member_path(@member), class: "btn member-btn" %>
			<% if @member.meets.any? %>
				<% @member.meets.each do |m| %>
					<% if m.meet_date >= Date.today %>
						<p>
							<strong><%= m.meet_date.strftime("%d/%m/%Y") %></strong>
							<br>
							<%= m.location %>
							<% if meet_leader?(@member, m)%>
								<% if committee_member?(@member)%>
									<%= link_to '(meet leader)', edit_committee_meet_path(m) %>
									<br/>
								<% else %>
									<%= link_to '(meet leader)', meets_member_path(@member, {:meet => {:id => m.id}}) %>
									<br/>
								<% end %>
							<% end %>
							<% if m.bb_url != "" %><%= link_to 'go to bulletin board thread', m.bb_url%><% end %>
						</p>
					<% end %>
				<% end %>
			<% end %>
			</div>
		</div>
		<div class="lead col-md-4 col-sm-4 col-xs-12">
			<div id="box-1" class="info-box">
				<h3>My Details</h3>
				<%= link_to "Edit My Details", edit_member_path(@member), class: "btn member-btn" %>
				<p>
					<%= @member.email %><br>
					<% if @member.home_phone.present? %><%= @member.home_phone %><br><% end %>
					<% if @member.mob_phone.present? %><%= @member.mob_phone %><% end %>
				</p>
				<p>
					<%= @member.address_1 %><br>
					<% if @member.address_2.present? %><%= @member.address_2 %><br><% end %>
					<% if @member.address_3.present? %><%= @member.address_3 %><br><% end %>
					<%= @member.town %><br>
					<%= @member.county %><br>
					<%= @member.postcode %><br>
				</p>
			</div>
		</div>
		<div class="lead col-md-4 col-sm-4 col-xs-12">
			<div class="info-box">
				<h3>My Emergency Contact</h3><%= link_to "Add / Edit Emergency Contact", emergency_contact_member_path, class: "btn member-btn" %>
				<p>
					<%= @member.emergency_contact.relationship %><br>
					<%= @member.emergency_contact.name %><br>
					<%= @member.emergency_contact.primary_phone %><br>
					<% if @member.emergency_contact.secondary_phone %><%= @member.emergency_contact.secondary_phone %><% end %>
				</p>
				<p>
					<%= @member.emergency_contact.address_1 %><br>
					<% if @member.emergency_contact.address_2.present? %><%= @member.emergency_contact.address_2 %><br><% end %>
					<% if @member.emergency_contact.address_3.present? %><%= @member.emergency_contact.address_3 %><br><% end %>
					<%= @member.emergency_contact.town %><br>
					<%= @member.emergency_contact.postcode %><br>
				</p>
			</div>
		</div>
	</div>
</div>